/* .card_main {
  overflow-y: scroll;
} */

.carddm {
  display: flex;
  flex-direction: row;
  margin: 20px 60px 20px 60px;
}

.cardd {
  margin: 30px;
}

.pieee {
  /* margin-top: 16px; */
  padding-top: 20px;
  padding-left: 10px;
  height: 200px;
  border-radius: 25px;
  width: 400px;
  justify-content: center;
  align-items: center;
  background: rgb(35, 36, 39);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.tablecont {
  max-height: 40vh;
  max-width: 90vw;
  margin: -5px 60px 0 60px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}
